body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #131921;
    padding: 10px 20px;
    color: white;
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo {
    color: #ff9900;
    margin: 0;
}

.location {
    font-size: 14px;
    cursor: pointer;
}

.nav-center input {
    width: 700px;
    padding: 8px;
    border-radius: 4px;
    border: none;
}

.nav-right a {
    color: white;
    text-decoration: none;
    margin-left: 15px;
}

/* CATEGORY BAR */
.categories {
    display: flex;
    gap: 15px;
    padding: 15px;
    background-color: #232f3e;
    overflow-x: auto;
}

.category {
    background-color: #37475a;
    color: white;
    padding: 10px 15px;
    border-radius: 20px;
    cursor: pointer;
    white-space: nowrap;
}

/* SLIDER */
.slider {
    position: relative;
    width: 100%;
    height: 380px;
    overflow: hidden;
}

.slide {
    width: 100%;
    height: 380px;
    object-fit: cover;
    position: absolute;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.slide.active {
    opacity: 1;
}